.bg-navbar{

    background: #11998e; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #38ef7d,
      #11998e
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #38ef7d,
      #11998e
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.link{
    margin: 0 10px;
    text-decoration: none ;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    transition: 0.5s;
}

.logo-png{
    width: 80px;
   
    margin-right: 20px;
}

.logo-png img{
  width: 100%;
}

